<a href="https://colab.research.google.com/github/arisimoes/jogodamemoria/blob/master/C%C3%B3pia_de_Intelig%C3%AAncia_Artificial_na_pr%C3%A1tica_para_iniciantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Etapa 1 - Entendimento do Problema 

## Melhorar a conversão de vendas a partir da análise de campanhas realizadas no Facebook.

# Etapa 2: Coleta de Dados

#### Você pode baixar esse conjunto de dados no site: https://www.kaggle.com/loveall/clicks-conversion-tracking

# Etapa 3: Análise, Interpretação e Visualização dos Dados

#### Importando as bibliotecas

In [4]:
#Manipulação dos dados
import pandas as pd
#Visualização

#Machine Learning

#### Carregando os dados

In [5]:
df = pd.read_csv("KAG_conversion_data.csv")

In [6]:
type(df)

pandas.core.frame.DataFrame

#### Primeira Inspeção

In [9]:
df.head() #lista por default as 5 primeiras linhas

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [10]:
df.tail() #lista por default as 5 ultimas linhas

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [11]:
df.columns #lista as colunas

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [12]:
df.index #mostra total de itens

RangeIndex(start=0, stop=1143, step=1)

In [13]:
df.shape #mostra a tupla linhas e colunas

(1143, 11)

In [14]:
linhas, colunas = df.shape

In [15]:
print (f"O numeros de linhas {linhas}")

O numeros de linhas 1143

In [18]:
df["Clicks"]

0         1
1         2
2         0
3         1
4         1
       ...
1138    252
1139    120
1140     28
1141    135
1142    114
Name: Clicks, Length: 1143, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

#### Dicionário dos dados



1.   ad_id - ID único para cada anúncio
2.   xyzcampaignid - ID associado a cada campanha publicitária da empresa XYZ
3.   fbcampaignid - ID associado a como o Facebook rastreia cada campanha.
4.   age - idade da pessoa a quem o anúncio é mostrado.
5.   gender - sexo da pessoa que deseja que o anúncio seja mostrado
6.   interest - código que especifica a categoria à qual pertence o interesse da pessoa (os interesses são mencionados no perfil público da pessoa no Facebook)
7.   Impression - o número de vezes que o anúncio foi mostrado.
8.   Clicks - número de cliques nesse anúncio.
9.   Spent - Valor pago pela empresa xyz ao Facebook, para exibir aquele anúncio.
10.  Total conversion - Número total de pessoas que fizeram perguntas sobre o produto depois de ver o anúncio.
11.  Approved conversion - Número total de pessoas que compraram o produto depois de ver o anúncio.

#### Renomeando as colunas

#### Informações Estatísticas

#### Dados Faltantes

#### Outliers

#### Duplicatas

#### Matriz de Correlação

"numero_exibicoes" e "conversao" estão mais correlacionados com "compras" do que "cliques_no_anuncio" e "valor_pago_anuncio".

#### Avaliando as Features (Colunas)

##### id_campanha - ID associado a cada campanha publicitária da empresa XYZ

##### compras - Número total de pessoas que compraram o produto depois de ver o anúncio.

##### idade - idade da pessoa a quem o anúncio é mostrado.

##### gênero - sexo da pessoa que deseja que o anúncio seja mostrado

#### interesse - código que especifica a categoria à qual pertence o interesse da pessoa (os interesses são mencionados no perfil público da pessoa no Facebook)

#### valor_pago_anuncio - Valor pago pela empresa xyz ao Facebook, para exibir aquele anúncio.

#### numero_exibicoes - o número de vezes que o anúncio foi mostrado.

#### Pessoas que compraram (por idade/gênero)

# Etapa 4: Modelagem/Machine Learning

# Etapa 5: Avaliando o Modelo